# Виртуальное окружение
.venv/
venv/
ENV/

# Данные
data/raw/
data/processed/

# Модели
*.pkl
*.joblib

# Логи MLflow
mlruns/
logs/

# Python кэш
__pycache__/
*.pyc
*.pyo

# IDE и ОС
.vscode/
.idea/
.DS_Store

# Секреты
.env

# Jupyter
.ipynb_checkpoints/