# VENV
.venv/
venv/
ENV/

# Data
# data/raw/
data/processed/

# Models
*.pkl
*.joblib

# Logs MLFlow
mlruns/
logs/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE и ОС
.vscode/
.idea/
.DS_Store

# Secrets
.env

# Jupyter
.ipynb_checkpoints/